body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  display: block;
 
}

.topbar {
  background-color: rgb(3, 80, 143);
  color: #fff;
  height: 10%;
  width: 100%;
  
  display: block;
  text-decoration: none;
  font-size: 30px;
  align-items: center;
}

.inputMoney {
  border-radius: 4px;
  padding: 4px;
  margin-top: 4px;
  width: 150px;
}

